

//color

$color-pink-1:rgb(255, 83, 126);

$color-black-1:rgb(20, 20, 20);
$color-black-2:rgb(34, 34, 34);

$color-grey-1:rgb(77, 77, 77);


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{

    text-align: center;
}

h1{
    color:$color-pink-1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    padding:30px;
}